.backdrop {
    z-index: 9999;
    position: fixed;

    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    display: none;
    justify-content: center;
    align-items: center;



    form {
        position: relative;
        padding: 3rem;
        width: 25%;
        border-radius: 10px;
        min-height: 60%;
        display: flex;
        flex-direction: column;
        background-color: white;
        gap: 1.5rem;


        .icon {
            position: absolute;
            top: 5%;
            right: 2rem;
            cursor: pointer;
        }


        label {
            position: relative;
            display: flex;
            flex-direction: column;

            span {
                position: absolute;
                font-size: .9rem;
                color: gray;
                top: 1rem;
                left: 1rem;
                transition: all 200ms ease-in-out;
            }

            input {
                width: 100%;
                border-radius: 100px;
                padding: 1rem;
                border: none;
                background-color: #f6f7f8;

                &:focus {
                    background-color: none;
                    border: none;
                    outline: 1px gray solid;
                }
            }

            .passIcon {
                position: absolute;
                top: 30%;
                right: 5%;
                cursor: pointer;
            }
        }



        p {
            width: 100%;
            text-align: left;
            font-size: .8rem;
        }

        input[type="submit"] {
            border: none;
            border-radius: 100px;
            padding: .8rem;
            color: white;
            background-color: #2CEC65;
            font-weight: 800;
            cursor: pointer;
        }

        .signBtn:disabled {
            background-color: #e68764;
        }
    }

    .passReq {
        display: none;
        position: absolute;
        padding: 1rem;
        background-color: white;
        right: 15%;
        border-radius: 10px;

        h4 {
            font-size: 1rem;
            margin-bottom: 5%;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 0 1rem;

            li {
                list-style: circle;
            }
        }
    }
}



.error {
    margin-top: 5%;
    color: red;
    font-size: .8rem;
}


.asideLink {
    margin-top: 1rem;
    font-size: .8rem;

    button {
        border: none;
        background-color: transparent;
        color: #0079d3;
        font-weight: 700;
        text-decoration: underline;
        text-decoration-color: #0079d3;
        cursor: pointer;
    }
}


.spanAnimation {
    top: .3rem !important;
    font-size: .6rem !important;
}

.show {
    display: flex !important;
    flex-direction: column;
}

.display {
    display: flex;
}

@media only screen and (max-width: 800px) {
    .backdrop {
        form {
            width: 50%;
        }
    }
}


@media only screen and (max-width: 500px) {
    .backdrop {


        form {
            width: 80%;
            padding: 2rem;
            min-height: 50%;
        }

        .passReq {
            top: 78%;
            left: 0;
            right: 0;
            margin-inline: auto;
            width: 80%;
            padding: .8rem;

            h4 {
                font-size: .9rem;
            }

            ul {
                gap: .5rem;

                li {
                    font-size: .8rem;
                }
            }
        }
    }
}