.creditsContainer {
    display: flex;
    justify-content: space-between;

    .cast,
    .crew {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 45%;

        h3 {
            color: #2CEC65;
            background-color: black;
            width: fit-content;
            padding: .5rem;
            border-radius: 10px;
            outline: 5px white solid;
        }

        .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;


            .card {


                a {
                    min-height: 100%;

                    display: flex;
                    justify-content: space-between;
                    gap: 1rem;
                    padding: .5rem;
                    border-radius: 10px;
                    border: 1px #2CEC65 solid;




                    .movieSect {
                        .notAv {
                            width: 100%;
                            height: 100%;
                            background-color: black;
                            color: red;
                            text-align: center;
                            padding: 1rem 0;
                            border-radius: 10px;

                        }
                    }

                    .actorSect {
                        width: 80%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        text-align: right;

                        .movie {
                            color: white;
                            font-size: .9rem;
                        }

                        .character {
                            background-color: #2CEC65;
                            padding: .5rem;
                            border-radius: 10px;
                            width: fit-content;
                            font-size: .8rem;
                            margin-left: auto;
                        }
                    }



                }
            }

        }

        button {
            color: #05161E;
            background-color: #2CEC65;
            border: none;
            padding: .5rem;
            border-radius: 10px;
            font-size: 1rem;
            cursor: pointer;
        }
    }
}


@media only screen and (max-width: 800px) {
    .creditsContainer {

        gap: 1rem;

        .cast,
        .crew {
            width: 50%;

            h3 {
                padding: .2rem;
            }

            .container {
                grid-template-columns: repeat(1, 1fr);
                gap: 1rem;

                .card {

                    min-height: 5rem;

                    .movieSect {
                        img {
                            width: 3rem;
                            height: 5rem;
                        }
                    }

                    .actorSect {
                        .character {
                            padding: .1rem;
                        }
                    }
                }
            }
        }
    }
}