

.movieSection{
    display: flex;
    justify-content: center;
    padding: 2rem;
    width:  100%;
    background-color: #040e13;
}


.movieSection .movies{
     margin-inline:auto;
    padding: 2rem 0;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 2rem;
} 



@media only screen and (max-width: 500px){
    .movieSection .movies{
        grid-template-columns: repeat(2,1fr);
    }

}