

.movieSection{
    margin-inline:auto;
    padding: 2rem;
    background-color: #040e13;
}


.movieSection .movies{
     margin-inline:auto;
    padding: 2rem 0;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 4rem;
} 

.movieCard{
    width :100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding-bottom: 1rem;
    border-bottom: 1px white solid;
}

.movieCard .imageSection{
    width: 15rem;
    height: 23rem;
    position: relative;
}



.movieCard .imageSection::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    inset: 0;
    transition:all 200ms ease-in;
}

.movieCard h3{
    color: white;
}

.movieCard img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.movieCard .imageSection .rating{
    width:4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
     background-color:#2CEC65;
border-radius: 100px;
color: black;
    inset: 0;
    opacity: 0;
    margin: auto;
    font-size: 2rem;
    z-index: 300;
    transition: opacity 200ms ease-in-out;
}


.movieCard .imageSection:hover::before{
    background-color: rgba(100%,100%,100%,.5);
    z-index: 200;
}

.movieCard .imageSection:hover > .rating{
    opacity: 1;
}


.movieCard .lower{
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.movieCard .lower .year{
    padding: .2rem .5rem;
    border-radius: 100px;
    background-color: #2CEC65;
    color: white;
}

