.page{
background-color: #040e13;
min-height: 100vh;

display: flex;
}

.page p{
    margin: auto;
     color: black;
padding: .5rem 1rem .8rem 1rem;
border-radius: 2px 10px 2px 10px;  font-size: 2rem;
  background-color: red;
}