.card {
    border: 2px #2CEC65 solid;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;



    .top {
        display: flex;
        gap: 1rem;
        justify-content: space-between;

        .name {
            display: flex;
            gap: 1rem;
            align-items: center;


            .img {
                width: 3rem;
                height: 3rem;
                overflow: hidden;
                border-radius: 100px;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            div {
                display: flex;
                flex-direction: column;
                gap: .5rem;

                h3 {
                    color: white;
                }

                span {
                    color: #2CEC65;
                    font-size: .9rem;
                }
            }
        }

        .link {
            color: #2CEC65;
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    p {
        font-size: 1rem;
    
        letter-spacing: 1px;
        color: white;
        padding: 1rem;
        border-radius: 10px;
        line-height: 25px;
    }

    button {
        background-color: #2CEC65;
        border: none;
        border-radius: 100px;
        color: black;
        font-size: 1rem;
        padding: .5rem;
        font-weight: 900;
        cursor: pointer;
    }
}



@media only screen and (max-width : 500px) {
    .card{
        p{
            font-size: .9rem;
        }
    }
}