.singlePage {
    position: relative;
    background-color: #05161e;
    z-index: -1;
    height: 100%;

    .moviePoster {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
            filter: brightness(.5);

        }
    }

    .notAvailable {
        background-color: #05161e;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 65%;
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: center;


        p {
            background-color: black;
            color: red;
            margin-top: -5%;
            padding: .5rem 1rem .5rem 1rem;
            border-radius: 10px 5px;
        }
    }

    .movieDetails {
        position: absolute;
        width: 100%;
        height: fit-content;
        z-index: 10;
        padding-bottom: 2rem;
        margin-top: 22%;
        /* Adjust as needed */
        background: linear-gradient(180deg, rgba(5, 22, 30, 0.02) 0%, rgba(5, 22, 30, 0) 0.1%, #05161E 13.02%);
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .info {
            padding: 0 5rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .top {
                display: flex;
                flex-direction: column;
                gap: 2rem;

                .topDetails {
                    display: flex;
                    justify-content: space-between;
                    min-width: 100%;

                    .left {
                        display: flex;
                        flex-direction: column;
                        gap: .3rem;

                        .directors {
                            display: flex;
                            gap: 1rem;

                            span {
                                color: white;
                            }
                        }

                        .name {
                            h1 {

                                font-size: 2rem;
                                color: white;
                            }
                        }

                        .geners {
                            ul {
                                display: flex;
                                gap: 1rem;

                                li {
                                    background-color: rgba(82, 82, 82, 0.5);
                                    border: 1px white solid;
                                    border-radius: 5px;
                                    padding: .2rem .5rem;
                                    color: white;
                                    font-size: .9rem;
                                }
                            }

                        }

                        .tagline {
                            margin: 1rem 0;
                            background-color: #2CEC65;
                            color: #05161e;
                            border-radius: 10px 5px;
                            padding: .5rem;
                            width: fit-content;
                            font-size: 1.2rem;
                        }
                    }

                    aside {
                        display: flex;
                        gap: 1.5rem;
                        align-items: baseline;

                        .show {
                            background-color: #2CEC65;
                            color: #05161E;
                            width: fit-content;
                            padding: .5rem;
                            border-radius: 10px;
                        }

                        .icons {
                            font-size: 1.5rem;
                            color: white;
                            cursor: pointer;

                            &:hover {
                                color: #2CEC65
                            }
                        }
                    }


                }

                .coreDetails {
                    display: flex;
                    gap: 1rem;

                    div {
                        width: 15rem;
                        height: 8rem;
                        background-color: rgba(82, 82, 82, .2);
                        border: 1px white solid;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        backdrop-filter: blur(10px);
                        position: relative;
                        transition: all 200ms ease-in-out;



                        span {
                            position: absolute;
                            left: 1rem;
                            justify-self: flex-start;
                            font-size: .7rem;
                            font-weight: 700;
                            color: rgb(166, 166, 166);
                            writing-mode: vertical-rl;
                        }

                        p {
                            font-size: 1.5rem;
                            font-weight: 800;
                            color: white;
                        }


                        &:hover {
                            background-color: #2CEC65;

                            span,
                            p {
                                color: black;
                            }
                        }
                    }
                }
            }




        }

        .lower {

            .description {
                width: 60%;
                margin-bottom: 2rem;

                h3 {
                    color: rgba(82, 82, 82);
                    margin-bottom: .5rem;
                }

                p {
                    color: white;
                    line-height: 25px;
                }
            }

            .cast {
                h3 {
                    color: rgb(82, 82, 82);
                    margin-bottom: .5rem;
                }

                ul {
                    display: flex;
                    gap: 2rem;
                    align-items: center;


                    li {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: .5rem;

                        img {
                            width: 3rem;
                            height: 3rem;
                            border-radius: 100px;
                            object-fit: cover;
                        }

                        div {
                            text-align: center;

                            h5 {
                                color: white;
                            }

                            h6 {
                                margin-top: .5rem;
                                color: rgb(82, 82, 82)
                            }
                        }
                    }
                }
            }

        }

    }
}

@media only screen and (max-width: 800px) {
    .singlePage {

        .moviePoster {

            height: 70%;
        }

        .movieDetails {

            margin-top: 40%;


            .info {
                padding: 0 1rem;


                .top {

                    .topDetails {


                        .left {


                            .directors {

                                gap: 1.5rem;

                                span {
                                    font-size: 1rem;

                                }
                            }

                            .name {
                                h1 {
                                    font-size: 1.5rem;

                                }
                            }



                            .tagline {

                                font-size: 1rem;
                            }
                        }

                        aside {
                            position: relative;

                            flex-direction: column;
                        }


                    }

                    .coreDetails {

                        div {
                            width: 10rem;
                            height: 5rem;

                            span {

                                left: .2rem;
                            }

                            p {
                                font-size: 1rem;

                            }

                        }
                    }
                }




            }

            .lower {
                margin-top: 10%;

                .description {
                    width: 100%;




                    p {

                        font-size: .9rem;
                    }
                }

                .cast {
                    h3 {
                        color: rgb(82, 82, 82);
                        margin-bottom: .5rem;
                    }

                    ul {

                        flex-wrap: wrap;
                        gap: 3rem;
                    }
                }

            }

        }
    }
}



@media only screen and (max-width : 500px) {
    .singlePage {

        .moviePoster {

            height: 50%;
        }

        .movieDetails {

            margin-top: 50%;


            .info {
                padding: 0 1rem;


                .top {

                    .topDetails {


                        .left {


                            .directors {
                                display: flex;
                                gap: 1rem;

                                span {
                                    font-size: 1rem;

                                }
                            }

                            .name {
                                h1 {
                                    font-size: 1.5rem;

                                }
                            }



                            .tagline {

                                font-size: .8rem;
                            }
                        }

                        aside {
                            position: relative;

                            .show {

                                position: absolute;
                                top: -60%;
                                right: 5%;
                                background-color: #2CEC65;
                                color: #05161E;


                                border-radius: 10px;
                            }

                            flex-direction: column;
                        }


                    }

                    .coreDetails {

                        div {
                            width: 10rem;
                            height: 5rem;

                            span {

                                left: .2rem;
                            }

                            p {
                                font-size: .9rem;

                            }

                        }
                    }
                }




            }

            .lower {
                margin-top: 10%;

                .description {
                    width: 100%;




                    p {

                        font-size: .9rem;
                    }
                }

                .cast {
                    h3 {
                        color: rgb(82, 82, 82);
                        margin-bottom: .5rem;
                    }

                    ul {

                        flex-wrap: wrap;
                        gap: 3rem;
                    }
                }

            }

        }
    }
}