.singlePage {
  position: relative;
  background-color: #05161e;
  z-index: -1;
  height: 100%;
}
.singlePage .moviePoster {
  background-color: #05161E;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.singlePage .moviePoster img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.5);
}
.singlePage .notAvailable {
  background-color: #05161e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.singlePage .notAvailable p {
  background-color: black;
  color: red;
  margin-top: -5%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 10px 5px;
}
.singlePage .movieDetails {
  position: absolute;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 10;
  padding-bottom: 2rem;
  margin-top: 22%;
  /* Adjust as needed */
  background: linear-gradient(180deg, rgba(5, 22, 30, 0.02) 0%, rgba(5, 22, 30, 0) 0.1%, #05161E 13.02%);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.singlePage .movieDetails .info {
  padding: 0 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.singlePage .movieDetails .info .top {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.singlePage .movieDetails .info .top .topDetails {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}
.singlePage .movieDetails .info .top .topDetails .left {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.singlePage .movieDetails .info .top .topDetails .left .directors {
  display: flex;
  gap: 1rem;
}
.singlePage .movieDetails .info .top .topDetails .left .directors span {
  color: white;
}
.singlePage .movieDetails .info .top .topDetails .left .name h1 {
  font-size: 2rem;
  color: white;
}
.singlePage .movieDetails .info .top .topDetails .left .geners ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.singlePage .movieDetails .info .top .topDetails .left .geners ul li {
  background-color: rgba(82, 82, 82, 0.5);
  border: 1px white solid;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  color: white;
  font-size: 0.9rem;
}
.singlePage .movieDetails .info .top .topDetails .left .tagline {
  margin: 1rem 0;
  background-color: #2CEC65;
  color: #05161e;
  border-radius: 10px 5px;
  padding: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2rem;
}
.singlePage .movieDetails .info .top .topDetails aside {
  display: flex;
  gap: 1.5rem;
  align-items: baseline;
}
.singlePage .movieDetails .info .top .topDetails aside .show {
  background-color: #2CEC65;
  color: #05161E;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 10px;
}
.singlePage .movieDetails .info .top .topDetails aside .icons {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}
.singlePage .movieDetails .info .top .topDetails aside .icons:hover {
  color: #2CEC65;
}
.singlePage .movieDetails .info .top .coreDetails {
  display: flex;
  gap: 1rem;
}
.singlePage .movieDetails .info .top .coreDetails div {
  width: 15rem;
  height: 8rem;
  background-color: rgba(82, 82, 82, 0.2);
  border: 1px white solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: relative;
  transition: all 200ms ease-in-out;
}
.singlePage .movieDetails .info .top .coreDetails div span {
  position: absolute;
  left: 1rem;
  justify-self: flex-start;
  font-size: 0.7rem;
  font-weight: 700;
  color: rgb(166, 166, 166);
  writing-mode: vertical-rl;
}
.singlePage .movieDetails .info .top .coreDetails div p {
  font-size: 1.5rem;
  font-weight: 800;
  color: white;
}
.singlePage .movieDetails .info .top .coreDetails div:hover {
  background-color: #2CEC65;
}
.singlePage .movieDetails .info .top .coreDetails div:hover span,
.singlePage .movieDetails .info .top .coreDetails div:hover p {
  color: black;
}
.singlePage .movieDetails .lower .description {
  width: 60%;
  margin-bottom: 2rem;
}
.singlePage .movieDetails .lower .description h3 {
  color: rgb(82, 82, 82);
  margin-bottom: 0.5rem;
}
.singlePage .movieDetails .lower .description p {
  color: white;
  line-height: 25px;
}
.singlePage .movieDetails .lower .cast h3 {
  color: rgb(82, 82, 82);
  margin-bottom: 0.5rem;
}
.singlePage .movieDetails .lower .cast ul {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.singlePage .movieDetails .lower .cast ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.singlePage .movieDetails .lower .cast ul li img {
  width: 3rem;
  height: 3rem;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.singlePage .movieDetails .lower .cast ul li div {
  text-align: center;
}
.singlePage .movieDetails .lower .cast ul li div h5 {
  color: white;
}
.singlePage .movieDetails .lower .cast ul li div h6 {
  margin-top: 0.5rem;
  color: rgb(82, 82, 82);
}

@media only screen and (max-width: 800px) {
  .singlePage .moviePoster {
    height: 70%;
  }
  .singlePage .movieDetails {
    margin-top: 40%;
  }
  .singlePage .movieDetails .info {
    padding: 0 1rem;
  }
  .singlePage .movieDetails .info .top .topDetails .left .directors {
    gap: 1.5rem;
  }
  .singlePage .movieDetails .info .top .topDetails .left .directors span {
    font-size: 1rem;
  }
  .singlePage .movieDetails .info .top .topDetails .left .name h1 {
    font-size: 1.5rem;
  }
  .singlePage .movieDetails .info .top .topDetails .left .tagline {
    font-size: 1rem;
  }
  .singlePage .movieDetails .info .top .topDetails aside {
    position: relative;
    flex-direction: column;
  }
  .singlePage .movieDetails .info .top .coreDetails div {
    width: 10rem;
    height: 5rem;
  }
  .singlePage .movieDetails .info .top .coreDetails div span {
    left: 0.2rem;
  }
  .singlePage .movieDetails .info .top .coreDetails div p {
    font-size: 1rem;
  }
  .singlePage .movieDetails .lower {
    margin-top: 10%;
  }
  .singlePage .movieDetails .lower .description {
    width: 100%;
  }
  .singlePage .movieDetails .lower .description p {
    font-size: 0.9rem;
  }
  .singlePage .movieDetails .lower .cast h3 {
    color: rgb(82, 82, 82);
    margin-bottom: 0.5rem;
  }
  .singlePage .movieDetails .lower .cast ul {
    flex-wrap: wrap;
    gap: 3rem;
  }
}
@media only screen and (max-width: 500px) {
  .singlePage .moviePoster {
    height: 50%;
  }
  .singlePage .movieDetails {
    margin-top: 50%;
  }
  .singlePage .movieDetails .info {
    padding: 0 1rem;
  }
  .singlePage .movieDetails .info .top .topDetails .left .directors {
    display: flex;
    gap: 1rem;
  }
  .singlePage .movieDetails .info .top .topDetails .left .directors span {
    font-size: 1rem;
  }
  .singlePage .movieDetails .info .top .topDetails .left .name h1 {
    font-size: 1.5rem;
  }
  .singlePage .movieDetails .info .top .topDetails .left .tagline {
    font-size: 0.8rem;
  }
  .singlePage .movieDetails .info .top .topDetails aside {
    position: relative;
    flex-direction: column;
  }
  .singlePage .movieDetails .info .top .topDetails aside .show {
    position: absolute;
    top: -60%;
    right: 5%;
    background-color: #2CEC65;
    color: #05161E;
    border-radius: 10px;
  }
  .singlePage .movieDetails .info .top .coreDetails div {
    width: 10rem;
    height: 5rem;
  }
  .singlePage .movieDetails .info .top .coreDetails div span {
    left: 0.2rem;
  }
  .singlePage .movieDetails .info .top .coreDetails div p {
    font-size: 0.9rem;
  }
  .singlePage .movieDetails .lower {
    margin-top: 10%;
  }
  .singlePage .movieDetails .lower .description {
    width: 100%;
  }
  .singlePage .movieDetails .lower .description p {
    font-size: 0.9rem;
  }
  .singlePage .movieDetails .lower .cast h3 {
    color: rgb(82, 82, 82);
    margin-bottom: 0.5rem;
  }
  .singlePage .movieDetails .lower .cast ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: baseline;
  }
}/*# sourceMappingURL=SinglePage.module.css.map */