.userPage{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
}

.userPage .userDetails{
    position: fixed;
    box-shadow: 0 0 20px 1px rgb(105, 105, 105);
    background-color: #2CEC65;
    width: 20%;    height: fit-content;
    padding: 2rem;
border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.userPage .userDetails img{
    width: 10rem; 
    height: 10rem;
    border-radius: 100px;
    object-fit: cover;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.info h4{
    word-wrap: break-word;
}
.total{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.total p{
    font-size: 1rem;
    font-weight: 800;
}

.total p span{

    background-color: black;
    color: #2CEC65;
    padding: .5rem;
    border-radius: 100px;
}
.list{
    z-index: 1000;
    margin-left: auto;
    width: 75%;
    height: auto;
    border-radius: 20px;
}

.list .top{
    display: flex;
    gap:1rem;
    margin-bottom: 1rem;
}

.list .top button{
    border: none;
    background-color: #2CEC65;
    padding: .5rem 1rem;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 10px;
}

.list .top button:hover{
    background-color: black;
    color: #2CEC65;
}

.active{
    background-color: black !important;
    color: #2CEC65 !important;
}

@media only screen and (max-width: 1000px) {
     .userPage{
      
   
    flex-direction: column;

    }

    .userPage .userDetails{
        position: relative;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.userPage .userDetails img{
    width: 5rem; 
    height: 5rem;
    
}

.info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: auto;
}

.info h2{
    font-size: 1.2rem;
}
.info h4{
    font-size: .9rem;
}

.total p{
    font-size: .9rem;
    display: flex;
    flex-direction: column;
}

.total p span{
    padding: .3rem;
    width: fit-content;
}
.list{
    width: 100%;
}
}


@media  only screen and (max-width: 500px) {
    .userPage{
      
   
    flex-direction: column;

    }

    .userPage .userDetails{
        position: relative;
    padding: 1rem;
    flex-direction: row;

}

.userPage .userDetails img{
    width: 5rem; 
    height: 5rem;
    
}

.info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info h2{
    font-size: 1.2rem;
}
.info h4{
    font-size: .9rem;
}

.total p{
    font-size: .9rem;
    display: flex;
    flex-direction: column;
}

.total p span{
    padding: .3rem;
    width: fit-content;
}
.list{
    width: 100%;
}

}