.menu {
    position: absolute;
    z-index: 100;
    top: 150%;
    right: 0%;
    display: none;
    flex-direction: column;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: white;
    border: 1px #2CEC65 solid;

    button {
        border: none;
        background-color: transparent;
        font-size: 1rem;
        padding: 1rem 2rem;
        border-radius: 10px;
        font-weight: 600;
        cursor: pointer;

        &:hover {
            background-color: #2CEC65;
            color: white;
        }
    }
}


.show {
    display: flex !important;
}