.page{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    margin-top: 10%;
    padding:2rem;
    border-radius: 10px;
    background-image: url('https://github.com/Alucard2169/Movie-Database/blob/main/screenshot2.png?raw=true');
    text-align: center;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.card::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    z-index: 2;
    background-color: white;
    opacity: .8;
}


.card p{
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    margin-bottom: 3rem;
    position: relative;
    z-index: 3;
}

.card p a{
    color: skyblue;
}

.icon{
    position: relative;
    z-index: 3; 
    font-size: 3rem;
    color: #2CEC65;
    background: black;
    padding: .5rem;
    border-radius: 10px;
}